*.edge
*.obs_vstat
*.inf_coord
*.inf_coord_raw
*.inf_log
*.inf_pconn
*.inf_theta_density
*.inf_vprop
*.inf_vstat
*.gen_coord

mercator

*.tar.gz

*.DS_Store

*.o

*.out

*.pdf

__init__.py

!setup.py

.idea/
build/
cmake-build-debug
cmake-build-release
.vscode/
!test/*
!lib/*
lib/__pycache__